-module({{ dfa.module }}).

-include_lib("eunit/include/eunit.hrl").

-behaviour(gen_statem).

-export([start/0, stop/0, input/1, get_state/0, is_accept/1, input_string/1]).

-export([terminate/3, code_change/4, init/1, callback_mode/0]).

{{ dfa.export_state_functions() }}

-define(SERVER, ?MODULE).

%%%%%%%%%%%%%%%%%%%%%%%%% APIs %%%%%%%%%%%%%%%%%%%%%%%%%%%
is_accept(State) ->
    Ac_set = sets:from_list([{{ dfa.get_ac_state() }}]),
    sets:is_element(State, Ac_set).

start() ->
    gen_statem:start({local, ?SERVER}, ?MODULE, [], []).

stop() ->
    gen_statem:stop(?SERVER).

get_state() ->
    get_current_state().

input(C) ->
    gen_statem:call(?SERVER, C).

input_string([]) -> ok;
input_string([C|String]) ->
    input(C),
    input_string(String).

%%%%%%%%%%%%%%%%%%%%%%% Callbacks %%%%%%%%%%%%%%%%%%%%%%%%

terminate(_Reason, _State, _Data) ->
    void.

code_change(_Vsn, State, Data, _Extra) ->
    {ok, State, Data}.

init([]) ->
    State = {{ dfa.get_start_state() }},
    {ok, State, []}.

callback_mode() -> state_functions.

%%%%%%%%%%%%%%%%%%%%%% state callbacks %%%%%%%%%%%%%%%%%%%%%

{{ dfa.state_functions_code() }}

%%%%%%%%%%%%%%%%%%%%% Internal Helpers %%%%%%%%%%%%%%%%%%%%%
get_current_state() ->
    St = sys:get_status(?SERVER),
    {_, {State, _}} = lists:nth(1,
    		                element(2,
				        lists:nth(3,
					          lists:nth(5,
						            element(4,
							            St))))),
    State.

loop([]) -> true;
loop([{Input_string, Result}|Pairs]) ->
    start(),
    ok = input_string(Input_string),
    State = get_state(),
    stop(),
    case is_accept(State) of
	Result ->
	    loop(Pairs);
	_ ->
	    false
    end.

gen_test_input(0) -> [[]];
gen_test_input(L) when L > 0 ->
    {List1, List2} = lists:unzip([{[0|Input_string],
			     [1|Input_string]}
			    || Input_string <- gen_test_input(L-1)]),
    List1 ++ List2.

bin_to_string(Blist) ->
    [B+$0 || B <- Blist].    
%%%%%%%%%%%%%%%%%%%%%%%%%%Unit Test%%%%%%%%%%%%%%%%%%%%%%%%%
%dfa_test() ->
%    Test_inputs = lists:foldl(fun (E, Acc) -> E ++ Acc end, [], [gen_test_input(L) || L <- lists:seq(0, 11)]),
%    Test_results = [string:str(bin_to_string(Ti), "000") || Ti <- Test_inputs],
%    Test_pairs = lists:zip(Test_inputs, Test_results),
%    ?assert(loop(Test_pairs)).
